[submodule ".config/nvim"]
	path = .config/nvim
	url = https://github.com/spyicydev/nvim
[submodule ".config/tmux/plugins/tmux-continuum"]
	path = .config/tmux/plugins/tmux-continuum
	url = https://git::@github.com/tmux-plugins/tmux-continuum
[submodule ".config/tmux/plugins/tmux-resurrect"]
	path = .config/tmux/plugins/tmux-resurrect
	url = https://git::@github.com/tmux-plugins/tmux-resurrect
[submodule ".config/tmux/plugins/tmux-yank"]
	path = .config/tmux/plugins/tmux-yank
	url = https://git::@github.com/tmux-plugins/tmux-yank
[submodule ".config/tmux/plugins/tmux-sensible"]
	path = .config/tmux/plugins/tmux-sensible
	url = https://git::@github.com/tmux-plugins/tmux-sensible
[submodule ".config/tmux/plugins/tpm"]
	path = .config/tmux/plugins/tpm
	url = https://git::@github.com/tmux-plugins/tpm
[submodule ".config/tmux/plugins/tmux-fzf"]
	path = .config/tmux/plugins/tmux-fzf
	url = https://git::@github.com/sainnhe/tmux-fzf
[submodule ".config/tmux/plugins/tmux-fzf-session-switch"]
	path = .config/tmux/plugins/tmux-fzf-session-switch
	url = https://git::@github.com/thuanOwa/tmux-fzf-session-switch
[submodule ".config/tmux/plugins/tmux"]
	path = .config/tmux/plugins/tmux
	url = https://git::@github.com/catppuccin/tmux
[submodule ".config/tmux/plugins/vim-tmux-navigator"]
	path = .config/tmux/plugins/vim-tmux-navigator
	url = https://git::@github.com/christoomey/vim-tmux-navigator
